td,th{
    border: 1px solid black;
    padding: 5px 10px;
}
table{
    border-collapse: collapse;
    margin: auto;
}
caption{
    font-weight: bolder;
    margin-bottom: 10px;
}
tfoot{
    text-align: center;
}
h1{
    text-align: center;
}